body {
    background-image: url(../images/sandstone.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}

body, html{
	height: 100%;
}

.jumbotron {

	background-color: #A2431B;
}

.jumbotron h1 {
	color: white;
}
